<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li><a href="https://www.facebook.com/joao.pedro.alvito" class="icon fa-facebook">
				<span class="label">Facebook</span>
			</a></li>
			<li><a href="https://bitbucket.org/pedrotari7/" class="icon fa-bitbucket">
				<span class="label">Bitbucket</span>
			</a></li>
			<li><a href="https://github.com/pedrotari7" class="icon fa-github">
				<span class="label">Github</span>
			</a></li>
			<li><a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-alvito-5b73b46a" class="icon fa-linkedin">
				<span class="label">LinkedIn</span>
			</a></li>
		</ul>

	</div>
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/google.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>