<table style="width: 100%; background-color:transparent; clear:both; text-align:center;">
	<td style="float:left; width:5%;">
		<div style="text-align:center">{number}</div>
	</td>
	<td style="float:left; width:15%;">
		<div style="text-align:center">{date}</div>
	</td>
	<td style="float:left; width:21%; text-align:right; vertical-align: middle;">
		<a href="https://en.wikipedia.org/wiki/{t1}_national_football_team" title="{t1} national football team">{t1}</a>
		&#160;
		<img alt="" src="{t1_flag}"/>
	</td>
	<td style="float:left; width:20%;">
	<div>
		{remain}
<!-- 		<div>
			<input type="text" name="t1" value="" class="input_game">
			-
			<input type="text" name="t2" value="" class="input_game">
		<div> -->
	</div>
	</div>
	</td>
	<td style="float:left; width:21%; text-align:left">
		<img alt="" src="{t2_flag}"/>
		&#160;
		<a href="https://en.wikipedia.org/wiki/{t2}_national_football_team" title="{t2} national football team">{t2}</a>
	</td>
	<td style="float:left; width:15%;  text-align:left">
		<div>{location}</div>
	</td>
</table>