<tr>
<td style="text-align: center; white-space:nowrap;font-weight: normal;background-color:{color};"><img alt="" src="{team_flag}" style="vertical-align: middle;"></td>
<td style="font-weight: normal;background-color:{color};">{G}</td>
<td style="font-weight: normal;background-color:{color};">{W}</td>
<td style="font-weight: normal;background-color:{color};">{D}</td>
<td style="font-weight: normal;background-color:{color};">{L}</td>
<td style="font-weight: normal;background-color:{color};">{GF}</td>
<td style="font-weight: normal;background-color:{color};">{GA}</td>
<td style="font-weight: normal;background-color:{color};">{GD}</td>
<td style="font-weight: bold;background-color:{color};">{PTS}</td>
<td style="text-align: center; white-space:nowrap;font-weight: normal;background-color:{color};"><img alt="" src="{next_team_flag}" style="vertical-align: middle;"></td>
</tr>