<h3>Group {group}</h3>
<table style="text-align:center;float: left;">
<thead>
	<tr>
		<th colspan="10" width="100%" style="text-align: center;">
			Real
		</th>
	</tr>
</thead> 
<tr>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Position">Pos</abbr></th>
<th scope="col" width="1%" style="text-align: center;">Team</th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Played">Pld</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Won">W</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Drawn">D</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Lost">L</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Goals for">GF</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Goals against">GA</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Goal difference">GD</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Points">Pts</abbr></th>
</tr>
{t1}
{t2}
{t3}
{t4}
</table>

<table style="text-align:center;float: right;">
<thead>
	<tr>
		<th colspan="10" width="100%" style="text-align: center;">
			Predicted
		</th>
	</tr>
</thead>

<tr>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Position">Pos</abbr></th>
<th scope="col" width="1%" style="text-align: center;">Team</th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Played">Pld</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Won">W</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Drawn">D</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Lost">L</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Goals for">GF</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Goals against">GA</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Goal difference">GD</abbr></th>
<th scope="col" width="1%" style="text-align: center;"><abbr title="Points">Pts</abbr></th>
</tr>
{t1}
{t2}
{t3}
{t4}
</table>