<tr>
<th scope="row" style="text-align: center;font-weight: normal;background-color:{color};">{pos}</th>
<td style="text-align: left; white-space:nowrap;font-weight: normal;background-color:{color};"><img alt="" src="{team_flag}"> &#160;<a href="https://en.wikipedia.org/wiki/{team}_national_football_team" title="{team} national football team">{team}</a></td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: normal;background-color:{color};">0</td>
<td style="font-weight: bold;background-color:{color};">0</td>
</tr>