<!DOCTYPE HTML>

<html>
	{header}

	<body>

		{nav}

		<!-- Main -->

		<div class="container">

		<header class="major special">
					<h2>Next Game</h2>
		</header>

		<table style="width: 100%; background-color:white; clear:both; text-align:center;">
			<tr class="game_line_individual" style="background-color:white;">
			<td style="float:left; width:15%;">
				<div style="text-align:center">{date}</div>
			</td>
			<td class="team" style="float:left; width:21%; text-align:right; vertical-align: middle; font-size:150%;">
				<a href="{t1_link}" title="{t1} national football team">{t1}</a>
				&#160;
				<img alt="" src="{t1_flag}"/>
			</td>
			<td style="float:left; width:20%;">
			<div>
				<b id="remain" style="font-size:150%;">{remain}</b>
			</div>
			</div>
			</td>
			<td class="team" style="float:left; width:21%; text-align:left; font-size:150%;">
				<img alt="" src="{t2_flag}"/>
				&#160;
				<a href="{t2_link}" title="{t2} national football team">{t2}</a>
			</td>
			<td style="float:left; width:15%;  text-align:right">
				<div>{location}</div>
			</td>
			</tr>
		</table>

		<br>

		<table class="scoreboard_table" style="text-align:center;"> 
			{predictions}
		</table>

		</div>

		<br>

		<div class="container">

		<table class="scoreboard_table" style="text-align:center;"> 
				<tr>
				<th scope="col" style="text-align: center;">Pos</th>
				<th scope="col" style="text-align: center;">Country</th>
				<th scope="col" style="text-align: center;">Name</th>
				<th scope="col" style="text-align: center;"><abbr title="Exact">E</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Right Result">R</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Team Score">T</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Fail">F</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Groups">G</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Awards">A</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Points">PTS</abbr></th>
				</tr>
				{lines}
		</table>

		</div>

		{footer}

		<script src="../assets/js/time.js"></script>


	</body>
</html>