<!-- Header -->
<header id="header">
	<!-- <h1><a href="../index.html">{id}</a></h1> -->
	<div id="user_info">
		<img class="user_flag" src="{flag}">
		<h1 style="text-align: center"><a href="../scripts/home?&id={id}">{name}</a></h1>
	</div>
	<a href="#nav">Menu</a>
</header>

<!-- Nav -->
<nav id="nav">
	<ul class="links">
		<li><a href="../scripts/agenda?&id={id}&user={name}">My predictions</a></li>
		<li><a href="../scripts/scoreboard?&id={id}">Scoreboard</a></li>
		<li><a href="../scripts/rules?&id={id}">Rules</a></li>
		<li><a href="../scripts/settings?&id={id}">Settings</a></li>
		<li>
			<a href="#" onclick="signOut();" class="fa fa-sign-out fa-1x">Logout</a>
		</li>
	</ul>
</nav>