<!DOCTYPE HTML>

<html>
	<head>
		<title>Euro2016</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" type="image/png" href="../images/euro_logo_small.png">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="../index.html">João Pedro Alvito</a></h1>
				<a href="#nav">Menu</a>
			</header>

		{nav}

		<!-- Main -->

			<div class="container">

				<header class="major special">
					<h2>Rules</h2>
				</header>

				<p>P1</p>
				<p>P2</p>
				<p>P3</p>

			</div>


		{footer}

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>