<!DOCTYPE HTML>

<html>
	{header}
	<body>

		{nav}

		<!-- Main -->
			<form>
				<div class="container">
					{data}
					<div class="groups_wrapper">
						<a href="#A" class="group_anchor">
							A
						</a>
						<a href="#B" class="group_anchor">
							B
						</a>
						<a href="#C" class="group_anchor">
							C
						</a>
						<a href="#D" class="group_anchor">
							D
						</a>
						<a href="#E" class="group_anchor">
							E
						</a>
						<a href="#F" class="group_anchor">
							F
						</a>
						<a href="#Knockout" class="group_anchor">
							Knockout
						</a>
					</div>
				</div>
			</form>

		{footer}


	</body>
</html>