<!DOCTYPE HTML>

<html>

	{header}

	<body onload=location.href="#{anchor}">

		{nav}

		<!-- Main -->
			<form action="../scripts/predict">
				<input type="hidden" name="id" value="{id}" visibility="hidden">
				<div class="container">
					{data}
					<div class="groups_wrapper">
						<a id="A" href="#A" class="group_anchor">
							A
						</a>
						<a id="B" href="#B" class="group_anchor">
							B
						</a>
						<a id="C" href="#C" class="group_anchor">
							C
						</a>
						<a id="#D" href="#D" class="group_anchor">
							D
						</a>
						<a id="E" href="#E" class="group_anchor">
							E
						</a>
						<a id="F" href="#F" class="group_anchor">
							F
						</a>
						<a href="#Knockout" class="group_anchor">
							Knockout
						</a>
					</div>
					<input type="submit" value="Submit Predictions Here" id="submit_button">
				</div>
			</form>

		{footer}

	</body>
</html>