<!DOCTYPE HTML>

<html>
	<head>
		<title>Euro2016</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" type="image/png" href="../images/euro_logo_small.png">
	</head>
	<body>

		{nav}

		<!-- Main -->
			<form action="../scripts/predict.py">
				<input type="hidden" name="id" value="{id}" visibility="hidden">
				<div class="container">
					{data}
					<div class="groups_wrapper">
						<a href="#A" class="group_anchor">
							A
						</a>
						<a href="#B" class="group_anchor">
							B
						</a>
						<a href="#C" class="group_anchor">
							C
						</a>
						<a href="#D" class="group_anchor">
							D
						</a>
						<a href="#E" class="group_anchor">
							E
						</a>
						<a href="#F" class="group_anchor">
							F
						</a>
						<a href="#Knockout" class="group_anchor">
							Knockout
						</a>
					</div>
					<input type="submit" value="Submit Predictions Here" id="submit_button">
				</div>
			</form>

		{footer}

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>