<!DOCTYPE HTML>

<html>

	{header}

	<body onload=location.href="#{anchor}">

		{nav}

		<!-- Main -->
			<form>
				

				<div class="container">
					<table class="individual">
						<tr>
						<td>
						<h3 id='name'>{user}</h3>
						</td>
						<td>
						<a href="{mvp_link}">
						<div class='mvp'><img class="mvp_img"src="{mvp_img}">MVP</div>
						</td>
						<td>
						<a href="{scorer_link}">
						<div class='mvp'><img class="mvp_img"src="{scorer_img}">Scorer</div></a>
						</td>
						</tr>
					</table>
					{data}
					<div class="groups_wrapper">
						<a id="A" href="#A" class="group_anchor">
							A
						</a>
						<a id="B" href="#B" class="group_anchor">
							B
						</a>
						<a id="C" href="#C" class="group_anchor">
							C
						</a>
						<a id="#D" href="#D" class="group_anchor">
							D
						</a>
						<a id="E" href="#E" class="group_anchor">
							E
						</a>
						<a id="F" href="#F" class="group_anchor">
							F
						</a>
						<a href="#Knockout" class="group_anchor">
							K
						</a>
					</div>
				</div>
			</form>

		{footer}


	</body>
</html>