<!DOCTYPE HTML>

<html>
	{header}

	<body>

		{nav}

		<!-- Main -->
		<div class="container">

		<table class="scoreboard_table" style="text-align:center;"> 
				<tr>
				<th scope="col" style="text-align: center;">Pos</th>
				<th scope="col" style="text-align: center;">Country</th>
				<th scope="col" style="text-align: center;">Name</th>
				<th scope="col" style="text-align: center;"><abbr title="Exact">Exact Score</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Right Result">Right Result</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Team Score">Team Score</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Fail">Fail</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Groups">Groups</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Awards">Awards</abbr></th>

				<th scope="col" style="text-align: center;"><abbr title="Points">Points</abbr></th>
				</tr>
				{lines}
		</table>


		</div>


		{footer}

	</body>
</html>