<tr style="background-color:{color};">
<td style="font-weight: normal; ">{pos}</td>
<td style="font-weight: normal;"><img class="user_flag" style="vertical-align: middle" src="{flag}"></td>
<td style="font-weight: bold;"><a href="agenda?&user={name}&id={id}">{name}</a></td>
<td style="font-weight: normal;">{exact}</td>
<td style="font-weight: normal;">{right}</td>
<td style="font-weight: normal;">{one}</td>
<td style="font-weight: normal;">{none}</td>
<td style="font-weight: normal;">{groups}</td>
<td style="font-weight: normal;">{penalties}</td>
<td style="font-weight: normal;">{awards}</td>
<td style="font-weight: bold;">{points}</td>
</tr>


