#!/usr/bin/python

import cgi ,cgitb, os
from socket import *


buffersize = 250000

cgitb.enable()
form = cgi.FieldStorage()

id = str(form.getvalue('id'))

try:
	HOST = 'localhost'
	PORT = 50000

	ADDR = (HOST,PORT)

	cli = socket( AF_INET,SOCK_STREAM)
	cli.connect((ADDR))
	data = cli.recv(buffersize)

	if data.lower().strip('\n').strip('\r') == 'ok':
		cli.send('rules')
		data = cli.recv(buffersize)
		if data.lower().strip('\n').strip('\r') == 'ok':
			cli.send(id + '\n')
			data = cli.recv(buffersize)

	print "Content-type: text/html\n\n"
	print data

except:
	print "Location:../html/down.html\n\n";



